#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	nimble build -d:release
	nimble gui_release
	help2man -i debian/buddydrive-man.include -o debian/buddydrive.1 --no-info ./bin/buddydrive

override_dh_auto_install:
	mkdir -p debian/buddydrive/usr/bin
	cp bin/buddydrive debian/buddydrive/usr/bin/
	cp bin/buddydrive-gui debian/buddydrive/usr/bin/
	mkdir -p debian/buddydrive/usr/share/man/man1
	cp debian/buddydrive.1 debian/buddydrive/usr/share/man/man1/
	cp debian/buddydrive-gui.1 debian/buddydrive/usr/share/man/man1/
	mkdir -p debian/buddydrive/usr/share/applications
	cp buddydrive.desktop debian/buddydrive/usr/share/applications/
	mkdir -p debian/buddydrive/usr/share/icons/hicolor/48x48/apps
	mkdir -p debian/buddydrive/usr/share/icons/hicolor/128x128/apps
	mkdir -p debian/buddydrive/usr/share/icons/hicolor/256x256/apps
	mkdir -p debian/buddydrive/usr/share/icons/hicolor/512x512/apps
	cp icons/hicolor/48x48/apps/buddydrive.png debian/buddydrive/usr/share/icons/hicolor/48x48/apps/
	cp icons/hicolor/128x128/apps/buddydrive.png debian/buddydrive/usr/share/icons/hicolor/128x128/apps/
	cp icons/hicolor/256x256/apps/buddydrive.png debian/buddydrive/usr/share/icons/hicolor/256x256/apps/
	cp icons/hicolor/512x512/apps/buddydrive.png debian/buddydrive/usr/share/icons/hicolor/512x512/apps/

override_dh_auto_test:
	# Tests are run separately
