#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	nimble build -d:release

override_dh_auto_install:
	mkdir -p debian/buddydrive/usr/bin
	cp bin/buddydrive debian/buddydrive/usr/bin/
	mkdir -p debian/buddydrive/lib/systemd/system
	cp debian/buddydrive.service debian/buddydrive/lib/systemd/system/

override_dh_auto_test:
	# Tests are run separately
